= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :date_time
    = f.text_field :date_time
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :private
    = f.check_box :private
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :checked_by_as
    = f.number_field :checked_by_as
  .actions
    = f.submit 'Save'
