%h1 Listing events

%table
  %thead
    %tr
      %th Создатель
      %th Название
      %th Описание
      %th Дата события
      %th Latitude
      %th Longitude
      %th Private
      %th Адрес
      %th
      %th
      %th

  %tbody
    - events.each do |event|
      %tr
        %td= event.author
        %td= link_to "#{event.title}", event
        %td= event.description
        %td= event.date_time
        %td= event.latitude
        %td= event.longitude
        %td= event.private
        %td= event.address
        - if user_signed_in? && current_user.id == event.profile.id
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

-if user_signed_in?
  = link_to 'Новое событие', new_event_path

= will_paginate @events