.filter
  %span Фильтр
  = form_tag events_path, method: "get",  id: "search_form" do
    = render partial: "search", locals: {resourse: "filter", value: @filter.params[:query]}
    = render partial: "category_checkbox", locals: {object: @filter, name: 'filter'}
    = submit_tag "Найти", name: false
.list_body
  #dashbord
    - elems = [ { value: "События", id: 'list_tab'}, { value: "Карта", id: 'map_tab'} ]
    = generate_control_panel('events_block', elems, 'list_tab')

    .events_block_content#map_tab_content{style: "height: 600px; width: 1024px;"}
      = render 'map'
    .events_block_content#list_tab_content
      = render partial: 'list', locals: {events: @events}

:javascript
  $('#map_tab_content').hide();
  $( document ).ready(function() {
    Events.ControlButtonsBehaviou.init(".events_block");
    $("#map_tab").click(function(){
      Events.MapBuilder.init_map_with(#{raw @points.to_json});
    });    
  });
  
:javascript
  $( document ).ready(function() {
  $('#search_form').submit(function(e) {
    e.preventDefault();
    Event.SearchFilter.events_search('#search_form');
    return false;
    });
  });