%span.filter Фильтр
= form_tag events_path, method: "get",  id: "search_form" do
  = render partial: "search", locals: {resourse: "filter", value: @filter.params[:query]}
  = render partial: "category_checkbox"
  = submit_tag "Найти"

.list_body
  #dashbord
    - elems = [ { value: "Карта", id: 'map_tab'}, { value: "События", id: 'list_tab'}]
    = generate_control_panel('events_block', elems, 'list_tab')

    .events_block_content#map_tab_content
      #map{style: ' width: 800px; height: 500px;'}
    .events_block_content#list_tab_content 
      = render partial: 'list', locals: {events: @events}

:javascript
  Event.MapBuilder.init_map();
  $('#map_tab_content').hide();
  Events.ControlButtonsBehaviou.init(".events_block");