%span.filter Фильтр
= form_tag events_path, method: "get",  id: "search_form" do
  = render partial: "search", locals: {resourse: "filter", value: @filter.params[:query]}
  = render partial: "category_checkbox"
  = submit_tag "Найти"

.list_body
  #dashbord
    = render partial: 'list', locals: {events: @events}

    #map{style: 'width: 800px; height: 500px;'}